.root {
    -fx-background-color: #00BFFF;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.button {

    -fx-background-color: #520b80;
    -fx-text-fill: #ff2b60;
    -fx-min-width: 170;
    -fx-min-height: 45;
    -fx-width: 100%;
    -fx-border: none;
    /*-fx-padding: 15 30 15 30;*/
    -fx-text-align: center;
    -fx-text-decoration: none;
    /*-fx-display: inline-block;*/
    /*-fx-font-size: 12;*/
    /*-fx-margin: 4px 2px;*/
    /*-fx-cursor: pointer;*/
}